<a href="https://colab.research.google.com/github/FadzararAI/Data_Checker/blob/main/Data_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from urllib.request import urlopen
import json
import random
import pandas

import pandas
import re

# User Data Generator using a free API

In [ ]:
#Initiate dictionary to save the data
person_list = {}

In [ ]:
def d_generator(num):
    def id_generator(): # Generates 16 digits of user ID randomly
        a = [str(random.randint(1,9)) for i in range(16)]
        b = ''.join(a)
        return b
    def person_generator(): # Using free API to generate user Data
        for i in range(num):
            response = urlopen("https://randomuser.me/api/")
            u_data = json.loads(response.read())
            person_list[u_data['results'][0]['name']['first']] = [u_data['results'][0]['name']['last'],u_data['results'][0]['location']['city'],id_generator()]
    person_generator()

In [ ]:
# Generates 100 people data
d_generator(100)

In [ ]:
# Seeing the rows of the data
person_list

{'Mstibog': ['Kolomackiy', 'Kerch', '4277286289684439'],
 'Gertrude': ['Bourgeois', 'Collonges', '4884536266993548'],
 'Domingo': ['Bravo', 'Elche', '9261543811457368'],
 'Brandon': ['Marshall', 'Fontana', '7115751848875236'],
 'Rozaliya': ['Gerashchenko', 'Noviy Bug', '4979856129886448'],
 'Sara': ['Andersen', 'København Ø', '4746178182344283'],
 'Øystein': ['Fosser', 'Geilo', '8632919489963314'],
 'Eleanor': ['Miller', 'Mullingar', '8182448729831742'],
 'Wieslaw': ['Knoll', 'Calbe (Saale)', '7698635646123669'],
 'Albert': ['Black', 'Youghal', '3322441458967761'],
 'Sharron': ['Marshall', 'Naas', '1825139565897978'],
 'Mathis': ['Clark', 'Victoria', '3572533172729751'],
 'Leo': ['Rintala', 'Toivakka', '3585165988366373'],
 'Amber': ['West', 'Londonderry', '2262322668982588'],
 'Aleksi': ['Seppanen', 'Teuva', '1844729811176676'],
 'Sander': ['Thomsen', 'København N', '6369672322169261'],
 'Erin': ['Clark', 'Darwin', '8957584246321155'],
 'Krish': ['Nayak', 'Giridih', '9666464986581569'],
 'Marinei': ['da Rosa', 'Canoas', '9178417835996518'],
 'Jatin': ['Saha', 'Ranchi', '3835664232469811'],
 'Nevaeh': ['Carr', 'Launceston', '1556691821726928'],
 'Tejas': ['Keshri', 'Bhagalpur', '2832653183918439'],
 'Ulrike': ['Van de Graaf', 'Nuenen', '4877863747199541'],
 'Kavitha': ['Salian', 'Berhampur', '9264738315369845'],
 'Flenn': ['Henderson', 'Houston', '7947453372466667'],
 'Paula': ['Vidal', 'Lorca', '3928323964162843'],
 'Camille': ['Chu', 'Maidstone', '1446448716189243'],
 'Suzanne': ['Edwards', 'Ely', '8925628838596868'],
 'Nelson': ['Kelley', 'York', '8246456192841792'],
 'Rasmus': ['Salmela', 'Loimaa', '1259513698569856'],
 'Louise': ['Chevalier', 'Saint-Denis', '9931547518243272'],
 'Minea': ['Haataja', 'Siikainen', '7497137251616971'],
 'Darren': ['Nelson', 'Ripon', '2566366767482994'],
 'Ava': ['Wilson', 'Souris', '6731383289389239'],
 'Eilev': ['Saleh', 'Holm', '4328868117383565'],
 'Zlata': ['Lučić', 'Bajina Bašta', '7412752727137464'],
 'Naja': ['Pedersen', 'Stenderup', '3545835562966393'],
 'Attila': ['Falk', 'Großbreitenbach', '8145428623845718'],
 'Lukiya': ['Antoniv', 'Bolehiv', '2312449452767736'],
 'Alexis': ['Wang', 'Hastings', '5297385823637489'],
 'Emile': ['Jones', 'Sherbrooke', '5797753499552184'],
 'Lenny': ['Mercier', 'Le Mans', '4158352729493812'],
 'Christian': ['Jørgensen', 'København N', '6588765577481768'],
 'Valdemar': ['Andersen', 'Randers Nv', '2188883285442568'],
 'Madhura': ['Suvarna', 'Siliguri', '4269574745634148'],
 'Charlie': ['Wells', 'San Diego', '2298124847612287'],
 'Lucienne': ['Joly', 'Rodersdorf', '7568121449271113'],
 'یلدا': ['موسوی', 'زاهدان', '4269726584597915'],
 'Bertram': ['Johansen', 'Brøndby Strand', '5978587853252194'],
 'Rhonda': ['Ruiz', 'Frederick', '6828456966964723'],
 'Antonietta': ['Faure', 'Bavois', '7578223368776387'],
 'Ali': ['Akgül', 'Antalya', '1578452429773936'],
 'Gema': ['Navarro', 'Orense', '2111452859854322'],
 'Joshua': ['Zhang', 'Dunedin', '2188998514958619'],
 'Maelya': ['Marchand', 'Montreuil', '1366281652518425'],
 'Chinouk': ['Westerveld', 'Teuge', '4221687146639983'],
 'Ridna': ['Perepadya', 'Ugniv', '4245916929456224'],
 'Stanko': ['Santrač', 'Kosovo Polje', '1887339859251778'],
 'Victoria': ['Jensen', 'Argerskov', '5977391759897267'],
 'Juliette': ['Macdonald', 'Richmond', '7393817613796589'],
 'Maëlyne': ['Gonzalez', 'Vitry-sur-Seine', '6591868232612473'],
 'Maren': ['Wiig', 'Harestua', '3556726945132575'],
 'Velibor': ['Srećković', 'Bujanovac', '1292727129536973'],
 'Danica': ['Ilić', 'Zaječar', '9145876183437379'],
 'Kenzi': ['Walker', 'Mackay', '1459261237641248'],
 'Maëlia': ['Nicolas', 'Nancy', '3779596224433532'],
 'Maël': ['Petit', 'Aix-En-Provence', '8864542514447872'],
 'Ivan': ['Boyer', 'Mühledorf (Be)', '7846377271757322'],
 'Tristan': ['Young', 'St. George', '4789611959713865'],
 'Mila': ['Chen', 'Invercargill', '4326211372744684'],
 'Bertha': ['Großmann', 'Halle (Saale)', '6623429527194283'],
 'Kaja': ['Hildrum', 'Liland', '8728985693916879'],
 'Katalina': ['Vasić', 'Niš', '3533457271121812'],
 'Kerim': ['Kavaklıoğlu', 'Hakkâri', '1781858941259833'],
 'Eva': ['Diaz', 'Vigo', '4348576938226312'],
 'Celestine': ['Gonzalez', 'Aulnay-sous-Bois', '6292369734798634'],
 'Catharinus': ['Hermens', 'Rossum', '3726128863149259'],
 'Cecilie': ['Andersen', 'Nr Åby', '6449126479275585'],
 'Lot': ['Rodermond', 'Oudeschoot', '8393469769718379'],
 'Judy': ['Fitzpatrick', 'Roscrea', '9921522316244891'],
 'Peppi': ['Valli', 'Multia', '2442828797379911'],
 'Caitlin': ['Lee', 'Taupo', '6396314625595371'],
 'Marleen': ['Reindl', 'Tönning', '4873994739887639'],
 'Ada': ['Reinke', 'Waldkappel', '8119197833349379'],
 'Ariel': ['Skjelbred', 'Helgelandsmoen', '5623474249152238'],
 'Rolando': ['Garica', 'Bavispe', '3528893936895875'],
 'Milja': ['Annala', 'Paltamo', '3712672139745121'],
 'Rosemarie': ['Knobloch', 'Darmstadt', '5727135635794517'],
 'Emma': ['Nielsen', 'Nørre Sundby', '6458297618569472'],
 'Jonas': ['Jørgensen', 'Amager', '9618129924951131'],
 'Teresa': ['Mills', 'Portsmouth', '7644691921731221'],
 'Niklas': ['Kuusisto', 'Ylitornio', '4226814411745133'],
 'Lewis': ['Prescott', 'San Bernardino', '8222822843576119'],
 'Lauritz': ['Løkke', 'Silvalen', '4852284185936857'],
 'Eden': ['Walker', 'Gisborne', '7321357426488618'],
 'Clayton': ['Daniels', 'Portmarnock', '5273699223163162'],
 'Musiy': ['Kobilyanskiy', 'Dobromil', '7228459747921288']}

## Data splitting and Transforming

In [ ]:
# Traditionally splitting data
Name = []
City = []
ID = []

In [ ]:
for i,j in person_list.items():
    Name.append(i)
    City.append(j[1])
    ID.append(j[2])

In [ ]:
new_person_list = {"Name":[i for i in Name],"ID":[i for i in ID], "City":[i for i in City]}

In [ ]:
data = pandas.DataFrame(new_person_list)

In [ ]:
data.head()

       Name                ID       City
0   Mstibog  4277286289684439      Kerch
1  Gertrude  4884536266993548  Collonges
2   Domingo  9261543811457368      Elche
3   Brandon  7115751848875236    Fontana
4  Rozaliya  4979856129886448  Noviy Bug

# Abnormality Checker
This is quite useful to check digits and format errors in KTP.
Just need to change the code by a little.

In [ ]:
def abnormality_check(dataset,col):
    global abnormality # Initialize variable to be used globally
    abnormality = {}
    validity = 1 # Validation checking
    index = 0 # Rows measurement
    x,x2 = 0,0 # Just to differentiate
    for i in dataset[col]:
        if len(i) != 16:
            validity = 0
            x+=1
            abnormality["Invalid_lenght"+str(x)] = [i]
            abnormality["IL_row"+str(x)] = index
        if re.search("[A-Z]|[a-z]",i) != None:
            validity = 0
            x2+=1
            abnormality["Invalid_character"+str(x2)] = [i]
            abnormality["IC_row"+str(x2)] = index
        index += 1
    if validity == 0:
        print("Data Abnormality found!")
    else:
        print("Data is normal.")

In [ ]:
# Using the column "ID" to check if there are abnormalities
abnormality_check(data,"ID")

Data is normal.

# Spice up the data to see if the algorithm works as intended

In [ ]:
# Selection rows 38, 49, 52, 56, 65 and 68
to_rpl = [38, 49, 52, 56, 65, 68]

In [ ]:
for i in to_rpl:
  print(data["ID"][i])

2312449452767736
6828456966964723
2111452859854322
4245916929456224
3779596224433532
4789611959713865

In [ ]:
data["ID"] = data["ID"].replace(to_replace=['2312449452767736'],value='232449452767736') # Omit 1
data["ID"] = data["ID"].replace(to_replace=['6828456966964723'],value='682845696696423') # Omit 7
data["ID"] = data["ID"].replace(to_replace=['2111452859854322'],value='211145285985322') # Omit 4
data["ID"] = data["ID"].replace(to_replace=['3779596224433532'],value='3779S96224433S32') # 55 to SS
data["ID"] = data["ID"].replace(to_replace=['4789611959713865'],value='47896II959713865') # 11 to II

## Checking again using the algorithm

In [ ]:
abnormality_check(data,"ID")

Data Abnormality found!

In [ ]:
abnormality

{'Invalid_lenght1': ['232449452767736'],
 'IL_row1': 38,
 'Invalid_lenght2': ['682845696696423'],
 'IL_row2': 49,
 'Invalid_lenght3': ['211145285985322'],
 'IL_row3': 52,
 'Invalid_character1': ['3779S96224433S32'],
 'IC_row1': 65,
 'Invalid_character2': ['47896II959713865'],
 'IC_row2': 68}